<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terrae</title>
    <link rel="icon" type="image/x-icon" href="/images/01_terrae.png" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <!-- header section -->
    <section>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="">
              <img src="/images/01_terrae.png" alt="Terrae Logo" height="50" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto d-flex flex-lg-row">
                <li class="nav-item m-2">
                  <a class="btn btn-outline-light" href="/">About Terrae</a>
                </li>
                <li class="nav-item m-2">
                  <a class="btn btn-outline-light" href="/guildhouse"
                    >GuildHouse</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>

    <!-- heroes section -->
    <section>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="/images/insert_image_here.svg"
              class="d-block mx-lg-auto img-fluid"
              alt="image"
              width="500"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Welcome to GuildHouse!
            </h1>
            <p class="lead justify-mytext">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              placerat luctus diam ut fermentum. Integer mollis, odio finibus
              viverra porta, enim felis commodo turpis, nec dictum ipsum ligula
              non sem. Ut faucibus molestie euismod. Phasellus at ligula
              bibendum, accumsan est ac, convallis elit. Aenean bibendum urna
              vel blandit tincidunt.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- footer section -->
    <footer class="pt-5 my-4">
      <p class="text-center text-body-secondary">
        &copy; Terrae <%= new Date().getFullYear() %>
      </p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
